name: Prebuild
on:
  workflow_dispatch:
jobs:
  prebuild:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            platform: linux
            arch: x64
            container: ubuntu:22.04
          - os: ubuntu-22.04-arm
            platform: linux
            arch: arm64
            container: ubuntu:22.04
          - os: ubuntu-24.04
            platform: android
            arch: x64
            flags: -D ANDROID_STL=c++_shared
          - os: ubuntu-24.04
            platform: android
            arch: ia32
            flags: -D ANDROID_STL=c++_shared
          - os: ubuntu-24.04
            platform: android
            arch: arm64
            flags: -D ANDROID_STL=c++_shared
          - os: ubuntu-24.04
            platform: android
            arch: arm
            flags: -D ANDROID_STL=c++_shared
          - os: macos-14
            platform: darwin
            arch: x64
          - os: macos-14
            platform: darwin
            arch: arm64
          - os: macos-14
            platform: ios
            arch: arm64
          - os: macos-14
            platform: ios
            arch: arm64
            tags: -simulator
            flags: --simulator
          - os: macos-14
            platform: ios
            arch: x64
            tags: -simulator
            flags: --simulator
          - os: windows-2022
            platform: win32
            arch: x64
          - os: windows-2022
            platform: win32
            arch: arm64
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    name: Build / ${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.tags }}
    steps:
      - run: apt update && apt install -y git clang lld
        if: ${{ matrix.platform == 'linux' }}
      - uses: holepunchto/actions/bare-base@v1
      - uses: holepunchto/actions/compile-prebuilds@v1
        with:
          platform: ${{ matrix.platform }}
          arch: ${{ matrix.arch }}
          flags: ${{ matrix.flags }}
          tags: ${{ matrix.tags}}
          upload: true
  merge:
    runs-on: ubuntu-latest
    needs: prebuild
    name: Merge
    steps:
      - uses: holepunchto/actions/merge-prebuilds@v1
