name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          platform: linux
          arch: x64
        - os: macos-latest
          platform: darwin
          arch: arm64
        - os: windows-latest
          platform: win32
          arch: x64
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.platform }}-${{ matrix.arch }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 20
      if: ${{ matrix.platform == 'linux' }}
    - run: choco upgrade llvm
      if: ${{ matrix.platform == 'win32' }}
    - run: |
        brew install llvm
        echo "/opt/homebrew/opt/llvm/bin" >> "$GITHUB_PATH"
        echo "LDFLAGS=-L/opt/homebrew/opt/llvm/lib" >> "$GITHUB_ENV"
        echo "CPPFLAGS=-I/opt/homebrew/opt/llvm/include" >> "$GITHUB_ENV"
      if: ${{ matrix.platform == 'darwin' }}
    - run: clang -v
    - run: npm install -g bare-runtime bare-make
    - run: npm install
    - run: bare-make generate --platform ${{ matrix.platform }} --arch ${{ matrix.arch }}
    - run: bare-make build
    - run: bare-make install
    - run: npm test
    - run: bare-make generate --platform ${{ matrix.platform }} --arch ${{ matrix.arch }} --debug --no-cache
    - run: bare-make build
    - run: bare-make install
    - run: npm test
