name: Zip Prebuilds
on:
  workflow_run:
    workflows: [Prebuild]
    types: [completed]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  zip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: gh run download --pattern '*' --dir sandbox
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Zip
        run: |
          mkdir prebuilds
          mv sandbox/* prebuilds/
          zip -r prebuilds.zip prebuilds/
      - uses: actions/upload-artifact@v4
        with:
          name: prebuilds
          path: prebuilds.zip
